/* Reset Default Styles for HTML Elements */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Import External Styles */
/* ---
---

//
// IMPORTS
//
@import "{{ site.theme }}";

@import "highlights";
@import "svg-icons";
*/

/* Define Global Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00FF00;
}

header {
    background-color: #000;
    color: #00FF00;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #00FF00;
}

a:hover {
    text-decoration: underline;
}

/* Styles for Centering Iframe Content */
#wrap_slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

#crop {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1.3); /* Adjust the scale as needed */
    transform-origin: 0 0;
}

