/* Reset some default styles for HTML elements */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00FF00;
}

header {
    background-color: #000;
    color: #00FF00;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #00FF00;
}

a:hover {
    text-decoration: underline;
}
